<nav class="navbar navbar-light " style="background-color:#f7e4ec">
  <a style="color:#630e33; cursor: pointer;" (click) ="redirectToHome()" class="navbar-brand">
    <strong> Rebbit </strong>
  </a>
  <a [hidden]="user?.role != 'Admin' && user?.role != 'Moderator'" style="color:#630e33; cursor: pointer;"  class="nav-link" (click)="redirectToAdmin()">Admin Panel</a>

    <div [hidden]= "userIsLogged()" class="btn-group"  role="group">
      <button class="btn btn-outline-dark" style="background-color:#f7e4ec" type="submit" (click) ="redirectToRegister()"> Register </button>
      <button class="btn btn-outline-dark" style="background-color:#f7e4ec" type="submit" (click) ="redirectToLogin()"> Login </button>
    </div>
    <form [hidden]="!userIsLogged()">
      <span id="loggedUserName"class="navbar-text">
        {{getUser()?.userName}}
      </span>
      <button style="margin: 5px;" (click)="logout()" class="btn btn-outline-danger" type="button">Logout</button>
    </form>
</nav>
<router-outlet></router-outlet>
<notifier-container></notifier-container>