<nav class="navbar navbar-light " style="background-color:#f7e4ec">
  <a style="color:#630e33; cursor: pointer;" (click) ="redirectToHome()" class="navbar-brand">
    <strong> Rebbit </strong></a>
  <form class="form-inline" >
    <input size="50" class="form-control mr-sm-2" type="search" placeholder="Search">
    <button class="btn btn-outline-dark  mr-sm-2" style="background-color:#f7e4ec" type="submit"> Search </button>
  </form>

    <div [hidden]= "userIsLogged()" class="btn-group"  role="group">
      <button class="btn btn-outline-dark" style="background-color:#f7e4ec" type="submit" (click) ="redirectToRegister()"> Register </button>
      <button class="btn btn-outline-dark" style="background-color:#f7e4ec" type="submit" (click) ="redirectToLogin()"> Login </button>
    </div>
    <form [hidden]="!userIsLogged()">
      <span id="loggedUserName"class="navbar-text">
        {{getUser()?.userName}}
      </span>
      <button style="margin: 5px;" (click)="logout()" class="btn btn-outline-danger" type="button">Logout</button>
    </form>
</nav>
<router-outlet></router-outlet>
<notifier-container></notifier-container>