<div *ngIf="!postFormInvisible; then thenBlock"></div>
<ng-template #thenBlock>
<div  class="mx-auto" style="width: 600px;">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="postForm">
        <div class="mx-auto">
          <label for="title"> Want to discuss something? Post it! ^__^ </label>
          <input  class="form-control" formControlName="title" id="title" aria-describedby="Title" placeholder="Title">
          <textarea class="form-control" formControlName="text" id="text" rows="3" placeholder="Type something..."></textarea>
          <button [hidden]="edited" [disabled]="submitted" class="btn btn-dark " (click)="onSubmit()" type="submit"> Post 
            <span class="spinner-border spinner-border-sm"  role="status" [hidden]="!submitted"></span> </button>
          <div [hidden]="!edited" >
            <button [disabled]="submitted" class="btn btn-dark " (click)="updatePost()" type="save"> Save
              <span class="spinner-border spinner-border-sm"  role="status" [hidden]="!submitted"></span> </button>
          </div>
          <div class="form-check">
            <input class="form-check-input " formControlName="anonymous" type="checkbox" id="anonymous">
            <label class="form-check-label " for="anonymous">Anonymous</label>
          </div> 
        </div>
      </form>
      </div>
  </div>
</div>
</ng-template>
<div class="mx-auto" style="width: 600px;">
  <div class="card text-white bg-dark mb-3" style="max-width: 38rem;">
    <div class="card-header">Sort</div>
    <div class="card-body">
      <div class="form-check">
        <button [disabled]="submitted"  class="btn btn-dark " (click)="changeOrder()" type="order">
          <div *ngIf="descendingSort; else elseBlockSort"> 
          <p>Ascending By Date</p>
        </div>
        <ng-template #elseBlockSort><p>Descending By Date</p></ng-template>
          <span class="spinner-border spinner-border-sm"  role="status" [hidden]="!submitted"></span> </button>
      </div> 
    </div>
  </div>
</div>

<div class="mx-auto" style="width: 600px;">
  <div *ngFor="let post of posts; index as i; ">
      <div  class="card border-dark mb-3" style="max-width: 38rem;  cursor: pointer;"> 
        <div class="card-header" style="background-color:#f7e4ec">
          <div (click)="redirectPost(post.id)"> 
            <p>Posted by 
            <b [hidden]="post.anonymous"> {{post.author.userName}} </b>
            <b [hidden]="!post.anonymous">Anonymous</b>
            on {{post.creationDate | date: 'dd/MM/yyyy'}} +{{post.comments.length}}</p>
          </div>
        </div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <button [hidden]="post?.author.id != user?.id" [disabled]="edited" (click)="editPost(post)" type="button" class="btn btn-outline-success btn-sm">Edit</button>
          <button [hidden]="post?.author.id != user?.id" (click)="deletePost(post.id) "type="button" class="btn btn-outline-danger btn-sm">Delete</button>
        </div>
        <div (click)="redirectPost(post.id)" class="card-body text-dark">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.text}}</p>
        </div>
      </div>
  </div>
</div>
